.card-container{
    color: rgb(255, 255, 255);
    background-color: rgb(34, 41, 78);
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
}
.card-question{
    color:aliceblue;
    font-size: large;
}
.true-color{
    color:'#4E89FF';
}
.false-color{
    color:'red'
}
